<mat-accordion class="headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Name: {{performer.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        Style: {{performer.style}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Age: {{performer.age}}</p>
    <button class="btn black" (click)="showReviews()">Show reviews</button>
    <button class="btn black"  routerLink="/concerts/by-performer/{{performer.id}}">Show Concerts</button>
    <button *ngIf="hasRoute('/admin')" class="btn green"
              (click)="updatePerformer()">Update Performer</button>
    <i *ngIf="hasRoute('/admin')" (click)="deletePerformer(performer.id!)" class="material-icons">delete</i>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="updateClicked">
  <performer-form-component
    [performer]="performer"
    (submitClicked)="saveUpdatedPerformer($event)"
    (discardClicked)="discardForm()"
  ></performer-form-component>
</div>
