<mat-accordion *ngIf="review && performer && concert" class="headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Concert by: {{performer.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <i *ngFor="let num of [].constructor(review.numberOfStars)" class="material-icons">stars</i>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Review: <span class="review">{{review.reviewText}}</span></p>
    <p>Reviewed by {{review.authorName}}</p>
    <p>Concert performed on {{concert.day | date: "EEEE, MMMM d, y"}}</p>
    <p>Reviewed on {{review.dateOfReview | date: "EEEE, MMMM d, y"}}</p>
    <button *ngIf="performer" class="btn black" routerLink="/performers/{{performer.id}}">Show Performer</button>
    <button class="btn black"  routerLink="/concerts/by-concert/{{concert.id}}">Show Concert</button>
    <button *ngIf="hasRoute('/admin')" class="btn green"
            (click)="updateReview()">Update Review</button>
    <i *ngIf="hasRoute('/admin')" (click)="deleteReview(review.id!)" class="material-icons">delete</i>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="updateClicked && review">
  <app-review-form
    [review]="review"
    (submitClicked)="saveUpdateReview($event)"
    (discardClicked)="discardForm()"
  ></app-review-form>
</div>
