<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper">
      <a href="#"><img class="brand-logo right circle responsive-img"
                       src="../../../assets/logo/default.png"
                       alt="Image of concert goers"></a>
      <ul class="left hide-on-med-and-down">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/reviews">Reviews</a>
        </li>
        <li>
          <a routerLink="/concerts">Concerts</a>
        </li>
        <li>
          <a routerLink="/performers">Performers</a>
        </li>
        <li>
          <a routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
