<div class="container">
  <div class="section">
    <h2 *ngIf="!update">New Performer</h2>
    <h2 *ngIf="update">Update Performer</h2>
    <div class="form-control">
      <label for="name">Name</label>
      <input *ngIf="!update" type="text" name="name" [(ngModel)]="name" id="name" placeholder="What is the performers name?"/>
      <input *ngIf="update && performer" type="text" name="{{performer.name}}" [(ngModel)]="performer.name" id="{{performer.name}}" placeholder="What is the performers name?"/>
    </div>
    <div class="form-control">
      <label for="age">Age</label>
      <input *ngIf="!update" type="number" name="age" [(ngModel)]="age" id="age" placeholder="What age is the performer?"/>
      <input *ngIf="update && performer" type="number" name="{{performer.age}}" [(ngModel)]="performer.age" id="{{performer.age}}" placeholder="What age is the performer?"/>
    </div>
    <div class="form-control">
      <label for="style">Style</label>
      <input *ngIf="!update" type="text" name="style" [(ngModel)]="style" id="style" placeholder="What is the style of the music?"/>
      <input *ngIf="update && performer" type="text" name="{{performer.style}}" [(ngModel)]="performer.style" id="{{performer.style}}" placeholder="What is the style of the music?"/>
    </div>
    <app-button text="Save Performer" color="green" (btnClick)="onSubmit()"></app-button>
    <app-button *ngIf="!update" text="Reset form" color="black" (btnClick)="resetForm()"></app-button>
    <app-button text="Discard" color="red" (btnClick)="discardForm()"></app-button>
  </div>
</div>


