<div class="parallax-container">
  <div class="parallax">
    <img id="background-image" src="../../../assets/parallax-background.jpg" alt="Concert background image"
         class="responsive-img">
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="center">
      <i class="material-icons star-icons review-star">stars</i>
    </div>
    <div class="center black-text home-title">
      <h1>ReviewStars</h1>
      <p class="italics">The best review site for non existent concerts!</p>
      <p class="italics"> -- Simon Cowell -- </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div id="review-section">
      <app-review-list></app-review-list>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/parallax-home-1.jpg" alt="Concert background image"
         class="responsive-img">
  </div>
</div>
<div class="container">
  <div class="section">
    <div id="concert-section">
      <app-concert-list></app-concert-list>
    </div>
  </div>
</div>

