<div id="search-component">
  <label for="search-box">Search reviews content</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
  <button class="btn modal-trigger black" *ngIf="searchResult.length > 0" data-target="modal">Show search results</button>
  <p *ngIf="searchFinished && searchResult.length === 0">No results </p>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <app-review-list *ngIf="searchResult.length > 0" [searchResult]="searchResult"></app-review-list>
  </div>
</div>
