<mat-accordion class="headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngIf="performer">Performer: {{performer.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        Date: {{concert.day | date: "MMMM dd, yyyy"}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Stage: {{concert.stage}}</p>
    <p>Begin Time: {{concert.beginTime}}</p>
    <p>End Time: {{concert.endTime}}</p>
    <button class="btn black" (click)="showReviews()">Show reviews</button>
    <button class="btn black"  (click)="showPerformer()">Show Performer</button>
    <button class="btn green" (click)="addReview()">Add Review</button>
    <button *ngIf="hasRoute('/admin')" class="btn green"
            (click)="updateConcert()">Update Concert</button>
    <i *ngIf="hasRoute('/admin')" (click)="deleteConcert(concert.id!)" class="material-icons">delete</i>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="updateClicked">
  <app-concert-form-component
    [concert]="concert"
    (submitClicked)="saveUpdatedConcert($event)"
    (discardClicked)="discardForm()"
  ></app-concert-form-component>
</div>
<div *ngIf="addClicked">
  <app-review-form
    [concert]="concert"
    (submitClicked)="saveReview($event)"
    (discardClicked)="discardForm()">
  </app-review-form>
</div>
