<mat-accordion class="headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngIf="performer">Performer: {{performer.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{concert.day | date: "EEEE, MMMM d, y"}}
      </mat-panel-description>
      <mat-panel-description *ngIf="averageStars && !concertInFuture(concert.day!)">
        <div *ngIf="averageStars">
          <i *ngFor="let num of [].constructor(averageStars)" class="material-icons star-icons ">stars</i>
        </div>
        <div *ngIf="!averageStars">
          Concert not reviewed yet
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Stage: {{concert.stage}}</p>
    <p>Begin Time: {{concert.beginTime}}</p>
    <p>End Time: {{concert.endTime}}</p>
    <button *ngIf="!concertInFuture(concert.day!)" class="btn black" routerLink="/reviews/by-concert/{{concert.id}}">Show reviews</button>
    <button *ngIf="performer" class="btn black"  routerLink="/performers/{{performer.id}}">Show Performer</button>
    <button *ngIf="!concertInFuture(concert.day!)" class="btn green" (click)="addReview()">Add Review</button>
    <button *ngIf="hasRoute('/admin')" class="btn green"
            (click)="updateConcert()">Update Concert</button>
    <i *ngIf="hasRoute('/admin')" (click)="deleteConcert(concert.id!)" class="material-icons">delete</i>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="updateClicked">
  <app-concert-form-component
    [hasReviews]="hasReviews"
    [concert]="concert"
    (submitClicked)="saveUpdatedConcert($event)"
    (discardClicked)="discardForm()"
  ></app-concert-form-component>
</div>
<div *ngIf="addClicked">
  <app-review-form
    [review]="review"
    [concert]="concert"
    (submitClicked)="saveReview($event)"
    (discardClicked)="discardForm()">
  </app-review-form>
</div>
