<div class="container">
  <div class="section">
    <div class="row">
      <div [hidden]="displayedOnHomePage" class="left">
        <h2>Concerts</h2>
      </div>
    </div>
    <div [hidden]="displayedOnHomePage" class="row">
      <div class="left">
        <button *ngIf="!redirected" class="btn black" (click)="showUpcomingConcerts()">Show upcoming concerts</button>
        <button *ngIf="!redirected" class="btn black" (click)="showPastConcerts()">Show past concerts</button>
        <button *ngIf="redirected" class="btn black" (click)="showUpcomingConcerts()">Show all upcoming concerts</button>
        <button *ngIf="redirected" class="btn black" (click)="showPastConcerts()">Show all past concerts</button>
        <button *ngIf="concerts.length > 1" class="btn black" (click)="userSortConcerts()">Sort concerts by date</button>
      </div>
      <div class="right">
        <button *ngIf="admin" class="btn green"
                (click)="addConcert()">Add Concert
        </button>
      </div>
    </div>
    <div *ngIf="addClicked">
      <app-concert-form-component
        [concert]="concert"
        (submitClicked)="saveConcert($event)"
        (discardClicked)="discardForm()"></app-concert-form-component>
    </div>
    <div *ngIf="concerts.length > 0">
      <div class="list-detail-margin" *ngFor="let concert of concerts">
        <app-concert-detail
          (addReviewClicked)="saveReview($event)"
          (updateConcertClicked)="updateConcert($event)"
          (deleteClicked)="deleteConcert(concert.id!)"
          [concert]="concert"
          [admin]="admin">
        </app-concert-detail>
      </div>
    </div>
    <div *ngIf="(showsPastConcerts || showsFutureConcerts) && concerts.length === 0">
      No concerts found.
    </div>
  </div>
</div>
