<div class="container">
  <div class="section">
    <div class="row">
      <div class="left">
        <h2>Concerts</h2>
      </div>

    </div>
    <div class="row">
      <div class="left">
      <button class="btn black" (click)="showUpcomingConcerts()">Show upcoming concerts</button>
      <button class="btn black" (click)="showPastConcerts()">Show past concerts</button>
      </div>
      <div class="right">
        <button *ngIf="hasRoute('/admin')" class="btn green"
                (click)="addConcert()">Add Concert
        </button>
      </div>
    </div>
    <div *ngIf="addClicked">
      <app-concert-form-component
        [concert]="concert"
        (submitClicked)="saveConcert($event)"
        (discardClicked)="discardForm()"></app-concert-form-component>
    </div>
    <div *ngIf="concerts.length > 0">
      <div class="list-detail-margin" *ngFor="let concert of concerts">
        <app-concert-detail
          (addReviewClicked)="saveReview($event)"
          (updateConcertClicked)="updateConcert($event)"
          (deleteClicked)="deleteConcert(concert.id!)"
          [concert]="concert"></app-concert-detail>
      </div>
    </div>
    <div *ngIf="concerts.length === 0 && redirected">
      No concerts found.
    </div>
  </div>
</div>
