<div class="container">
  <div class="section">
    <h2 *ngIf="!update">New Concert</h2>
    <h2 *ngIf="update">Update Concert</h2>
    <form [formGroup]="concertForm" (ngSubmit)="onSubmit()">
      <div class="hiddendiv" *ngIf="update">
        <input *ngIf="update" type="text" formControlName="id"/>
      </div>
      <div *ngIf="!hasReviews" class="form-control">
        <label>Choose the performer of the concert</label>
        <div *ngIf="submitted && concertForm.controls['performerId'].errors">
          <div class="mat-error">Please select a performer</div>
        </div>
        <div class="input-field">
          <select class="browser-default" *ngIf="!update" formControlName="performerId">
            <option [ngValue]="null" hidden>Choose performer</option>
            <option *ngFor="let performer of performers" [value]="performer.id">{{performer.name}}</option>
          </select>
          <select class="browser-default" *ngIf="update" formControlName="performerId">
            <option value="undefined" disabled selected hidden>Choose performer</option>
            <option *ngFor="let performer of performers" [value]="performer.id">{{performer.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-control">
        <label>Choose the date of the concert</label>
        <div *ngIf="submitted && concertForm.controls['day'].errors">
          <div class="mat-error">Please select a date for the concert</div>
        </div>
        <input *ngIf="!update" type="date" formControlName="day"/>
        <input *ngIf="update" type="date" formControlName="day"/>
      </div>
      <div class="form-control">
        <label>Stage</label>
        <div *ngIf="submitted && concertForm.controls['stage'].errors">
          <div class="mat-error">Please select a stage for the concert</div>
        </div>
        <input *ngIf="!update" type="text" formControlName="stage" placeholder="At what stage does the concert take place?"/>
        <input *ngIf="update" type="text" formControlName="stage" placeholder="What age is the performer?"/>
      </div>
      <div class="form-control">
        <label>At what time does the concert start?</label>
        <div *ngIf="submitted && concertForm.controls['beginTime'].errors">
          <div class="mat-error">Please select a begin time for the concert</div>
        </div>
        <input *ngIf="!update" type="time" formControlName="beginTime"/>
        <input *ngIf="update" type="time" formControlName="beginTime"/>
      </div>
      <div class="form-control">
        <label>At what time does the concert end?</label>
        <div *ngIf="submitted && concertForm.controls['endTime'].errors">
          <div class="mat-error">Please select a end time for the concert</div>
        </div>
        <input *ngIf="!update" type="time" formControlName="endTime"/>
        <input *ngIf="update" type="time" formControlName="endTime"/>
      </div>
      <button class="btn green" type="submit">Save Concert</button>
      <button *ngIf="!update" type="button" class="btn black" (click)="resetForm()">Reset Form</button>
      <button class="btn red" type="button" (click)="discardForm()">Discard</button>
    </form>
  </div>
</div>
