/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}
.btn {
  margin-right: 1rem;
}
.list-detail-margin {
  margin: 2rem 0;
}
span {
  font-weight: bold;
}

i {
  color: #F44336;
  cursor: pointer;
}

.star-icons {
  color: #d4af37;
}

.headers-align .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.italics {
  font-style: italic;
}

