<div class="container">
  <div class="section">
    <div class="row">
      <div class="left">
        <h2>Performers</h2>
      </div>
      <div class="right">
        <button *ngIf="hasRoute('/admin')" class="btn green"
                    (click)="addPerformer()">Add performer</button>
      </div>
    </div>
    <div *ngIf="addClicked">
      <performer-form-component
        (submitClicked)="savePerformer($event)"
        (discardClicked)="discardForm()"></performer-form-component>
    </div>
    <div class="list-detail-margin" *ngFor="let performer of performers">
      <app-performer-detail
        (updatePerformerClicked)="updatePerformer($event)"
        (deleteClicked)="deletePerformer(performer.id!)"
        [performer]="performer"></app-performer-detail>
    </div>
  </div>
</div>



