<div class="container">
  <div class="section">
    <div *ngIf="!searched" class="row">
      <div class="left">
        <h2>Performers</h2>
      </div>
      <div class="right">
        <button *ngIf="admin" class="btn green"
                (click)="addPerformer()">Add performer
        </button>
      </div>
    </div>
    <div *ngIf="searched" class="row">
      <div class="left">
        <h2>Search results</h2>
      </div>
    </div>
    <div *ngIf="!redirected && !searched && !admin && performers.length > 0" class="row">
      <app-performer-search></app-performer-search>
    </div>
    <div *ngIf="redirected"  class="row">
      <div class="left">
        <button class="btn black" (click)="getPerformers()">Show all performers</button>
      </div>
    </div>
    <div *ngIf="addClicked">
      <performer-form-component
        [performer]="performer"
        (submitClicked)="savePerformer($event)"
        (discardClicked)="discardForm()"></performer-form-component>
    </div>
    <div class="list-detail-margin" *ngFor="let performer of performers">
      <app-performer-detail
        (updatePerformerClicked)="updatePerformer($event)"
        (deleteClicked)="deletePerformer(performer.id!)"
        [performer]="performer"
        [admin]="admin"
      ></app-performer-detail>
    </div>
    <div *ngIf="performers.length ===0">
      No performers found
    </div>
  </div>
</div>



